<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940215890719-376otq0kkesmmehtanvqtapd56ne111v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940215890719-376otq0kkesmmehtanvqtapd56ne111v</string>
	<key>API_KEY</key>
	<string>AIzaSyB1piJDLocdoe6szgwm815kOPVeBKv0Y7U</string>
	<key>GCM_SENDER_ID</key>
	<string>940215890719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommereceApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-ecommerce-app-ceb08</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ecommerce-app-ceb08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940215890719:ios:f41e4d05b2fd5e80b3362a</string>
</dict>
</plist>